#turkic_acceptfirst
{
    background-color : #cd0a0a;
    color : #fff;
}

#turkic_workerstats
{
    background-color : #ccc;
}

body {
    font-family : Arial;
    font-size : 16px;
}

#container
{
    width : 900px;
    margin : 0 auto;
}

#windows
{
    text-align : center;
    height : 500px;
}

#buttons 
{
    text-align : center;
    margin : 25px;
}

#buttons span
{
    padding : 20px;
}

#buttons label span
{
    padding : 0;
}

#status
{
    text-align : center;
    font-weight : bold;
    padding : 5px;
}

#debug
{
    color : #ccc;
}
